body {
	color: hsl(0, 0%, 15%);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 14px;
	margin: 2rem;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 1rem 2rem;
	background-color: hsla(0, 100%, 100%, 0.9);
}

header h1 {
	font-size: 1rem;
	text-transform: uppercase;
}

header h1 span {
	border-bottom: 0.3rem solid gold;
}

h1 {
	font-size: 3rem;
}

a {
	color: hsl(0, 0%, 30%);
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid hsl(0, 0%, 60%);
}

main {
	display: flex;
	padding-top: 2rem;
}

main > * {
	flex: 0 0 45rem;
	margin-right: 5rem;
}

.song-list ul {
	list-style: none;
	padding: 0;
}

.song-item {
	border-top: 1px solid hsl(0, 0%, 95%);
	line-height: 2;
	padding: 0.5rem 0;
}

.song-item:hover {
	background-color: hsl(0, 0%, 98%);
}

.song-item img {
	display: inline-block;
	font-size: 8px;
	height: 32px;
	line-height: 1;
	margin-right: 0.5rem;
	vertical-align: middle;
	width: 32px;
}

.song-item .artist {
	color: hsl(0, 0%, 60%);
}

.song-item .artist::before {
	content: ' ';
}

.multi-song-list-items {
	list-style: none;
	padding: 0;
	margin: 0;
	text-transform: capitalize;
	color: hsl(0, 0%, 65%);
}

.multi-song-list-items .selected {
	color: initial;
}

.multi-song-list-items li {
	display: inline-block;
	margin-right: 1rem;
	cursor: pointer;
}

.multi-song-list-items li:hover {
	text-decoration: underline;
}

.multi-song-list-items li::after {
	display: inline-block;
	content: '/';
	color: hsl(0, 0%, 65%);
	margin-left: 1rem;
}

.multi-song-list-items li:last-child::after {
	content: '';
}
